.intro__quote-author {
    font-size: 1.5rem;
    text-align: right;
    margin: 0;
    font-weight: normal;
    max-width: 720px;
}

@media screen and (min-width:320px) and (max-width:425px) {
    .intro__quote-author {
        font-size: 1.5rem;
        margin: 0;
        
    }
}