.place__paragraph-wrapper {
    grid-area: text;
}

@media screen and (max-width:768px) {
    .place__paragraph-wrapper{
        font-size: 16px;
        max-width: 352px;
        line-height: 163%;
    }
}

@media screen and (max-width: 576px){
    .place__paragraph-wrapper {
        grid-row: auto;
        max-width: 550px;
        margin: 0 30px;
    }
}

@media screen and (min-width:320px) and (max-width:480px) {
    .place__paragraph-wrapper{
        margin: 0 16px;
    }
}