@font-face {
  font-family: 'Inter', sans-serif;
  src: url('/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('/fonts/static/Inter-Black.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}