.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 90px 0 118px;
    max-width: 984px;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .intro {
        max-width: 720px;
        margin: 88px 24px 0;
        padding: 0;
    }
}


@media screen and (min-width:320px) and (max-width:600px) {
    .intro {
        margin: 3.75rem auto 5.625rem;
        max-width: 18rem;
    }
}