.cover__content-link {
    text-decoration: none;
    color: #fff;
    background-color: #0278FE;
    background-repeat: 4px;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
    max-width: 137px;
    align-self: center;
}

.cover__content-link:hover {
    background-color: #0063D2;
}


@media screen and (min-width:320px) and (max-width:425px) {
    .cover__content-link{
        width: 137px;
        padding: 13px 20px;
        text-decoration: none;
        color: #fff;
        margin: 0 auto 0;
        border-radius: 4px;
    }
}