.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content 1fr;
  flex-direction: column;
  margin-bottom: 80px;
  column-gap: 40px;
  row-gap: 48px;

  grid-template-areas:
    "title artist"
    "image text"
    "nft text";
}

.place:nth-last-child(1){
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    width: 100%;
    column-gap: 28px;
    row-gap: 46px;
    margin: 0 auto 72px;
  }
}

@media screen and (max-width: 576px) {
  .place {
    grid-template-columns: auto;
    margin-bottom: 50px;
    row-gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "nft";
  }
}
