.cover__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 2;
    align-self: center;
    max-width: 656px;
    margin: 243px auto;
}

@media screen and (max-width:768px) {
    .cover__content {
        width: 100%;
        margin: 246px 16px;
    } 
}


@media screen and (min-width:320px) and (max-width:425px) {
    .cover__content {
        width: 100%;
        margin: 46px 16px 45px;
    } 
}